{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
/*.contents-{{ section.id }}{
  max-width: 110rem !important;
}*/
.contents-banner {
  margin-bottom: 1rem;
}
.contents-banner:last-child {
  margin-bottom: 0;
}
.contents-banner--link {
  display: block;
  position: relative;
}
.contents-banner img{
    width:100%;
}
.contents-banner--text {
  position: absolute;
  color: white;
  width: 100%;
  display: block;
  bottom: 3rem;
  left: 2rem;
  font-size: 1.4rem;
}

@media (min-width: 769px) {
  .contents-banner--wrap {
    display: flex;
    justify-content: center;
    gap: 1%;
  }
}
{%- endstyle -%}
<section class="contents section-{{ section.id }}-padding contents-{{ section.id }}">
  <div class="contents-banner--wrap page-width">
  {%- for block in section.blocks -%}
  <div class="contents-banner">
    <a class="contents-banner--link" href="{{ block.settings.url }}">
        <picture>
          <source srcset="{{ block.settings.image-pc | img_url: "1920x" }}" alt="{{ block.settings.image-pc.alt | escape }}" media="(min-width: 769px)">
          <img src="{{ block.settings.image-sp | img_url: "768x" }}" alt="{{ block.settings.image-sp.alt | escape }}" />
        </picture>
    <span class="contents-banner--text">{{ block.settings.banner-text | newline_to_br}}</span>
    </a>
  </div>
  {%- endfor -%}
  </div>
</section>

{% schema %}
  {
    "name": "Contents banner",
    "settings": [  
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 80
    }
    ],
    "blocks": [
    {
      "type": "image_picker",
      "name": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image-pc",
          "label": "バナー画像 PC"
        },
        {
          "type": "image_picker",
          "id": "image-sp",
          "label": "バナー画像 SP"
        },
        {
          "type": "textarea",
          "id": "banner-text",
          "label": "テキスト"
        },
        {
          "type": "url",
          "id": "url",
          "label": "リンク先URL"
        }
      ]
    }
    ],
  "presets": [
    {
      "name": "Contents banner"
    }
  ]
  }
{% endschema %}